body {
    background-color: goldenrod;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.whiteLeft, .whiteRight {
    fill   : white;
    z-index: 2;
}

.blackLeft, .blackRight {
    fill   : black;
    z-index: 0;
}

.rotate {
    transform-origin: center center;
    animation       : rotate 5s 10ms ease-in-out infinite;
    will-change     : transform;
}

/* The animation code */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
