body {
    background-color: goldenrod;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.whiteLeft, .whiteRight {
    fill: white;
}

.blackLeft, .blackRight {
    fill: black;
}

.rotate {
    transform-origin           : center center;
    animation                  : rotate 5s ease-in-out infinite;
    -webkit-transform          : translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective        : 1000;
    will-change                : transform;
}

/* The animation code */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
