body {
    background-color: goldenrod;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.whiteLeft, .whiteRight {
    fill: white;
}

.blackLeft, .blackRight {
    fill: black;
}

.rotate {
    transform-origin: center center;
    transition      : transform 5s ease-in-out;
}

.rotated {
    transform: rotate(360deg);
}

.reset {
    transform : rotate(0);
    transition: none;
}
