body {
    background-color: goldenrod;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.whiteLeft, .whiteRight {
    fill: white;
}

.blackLeft, .blackRight {
    fill: black;
}

.rotate {
    transform-origin: center center;
    animation       : rotate 10s ease-in-out infinite;
    will-change     : transform;
}

/* #Layer_1_1_ > * {
    pointer-events: none;
}

#Layer_1_1_:hover > * {
    animation-play-state: paused;
} */

/* The animation code */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
